<router-outlet>
  <div class="navbar">
    <a routerLinkActive="active-link" routerLink="home" class="nav-link">All Visitors</a>
    <a routerLinkActive="active-link" routerLink="add" class="nav-link">Add Visitor</a>
    <a routerLinkActive="active-link" routerLink="edit" class="nav-link">Edit Visitor</a>
    <a routerLinkActive="active-link" routerLink="delete" class="nav-link">Delete Visitor</a>
    <a routerLinkActive="active-link" routerLink="payment"  class="nav-link">ECart</a>
  </div>
  <router-outlet />
